<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /graph.loc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /graph.loc/index.php [L]
#RewriteRule (.*) /graph.loc/index.php?$1 [QSA,L]
</IfModule>
